@mixin container($height,$width:767px) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    height:$height ;
  }
  
  @mixin d-flex($direction:row,$justify: flex-start,$align: stretch,$wrap: nowrap, $gap:0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap:$wrap;
    gap:$gap;
  }
  @mixin selector($width:60px,$position:0){
    border: 1px solid $color-light;
    left:$position;
    width: $width;
  }
  @mixin position($top:0,$left:0,$bottom:auto,$right:auto){
    position: absolute;
    top:$top;
    left:$left;
    bottom:$bottom;
    right: $right;
  }