$color-dark: #050505;
$color-light: #fff;
$color-invisibale: transparent;

$spacing-1:1px;
$spacing-2:2px;
$spacing-5:5px;
$spacing-25:0.25rem; //4px
$spacing-50:0.5rem; //8px
$spacing-100:1rem; //16px
$spacing-200:2rem; //32px
$spacing-3125:3.125rem //50px