.footer{
    max-width:520px;
    width: 100vw;
    margin: 52px auto 0 auto;
    @media screen and (min-width:520px) {
        max-width: 1580px;
        width: 95%;
        margin: 45px auto 0 auto;
    }
    &__box{
        width: 90%;
        margin: 0 auto;
        background-color: #1e1e1e;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width:520px) {
            width: 100%;
        }
        &__telegramInstagram{
            width: 85%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 50px auto 0 auto;
            padding: 10px 0;
            background-color:#151515;
            border-radius: 12px;
        }
    }
}