body{
    background-color:#050505;
    overflow-x: hidden;
}
a{
    color:black;
    text-decoration: none;
}
input{
    border: none;
    line-height: 1.5rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.countainer{
    max-width:520px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:520px) {
        margin: 0;
        max-width: 1580px;
    }
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:520px) {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 50px;
        margin: 15px 20px;
    }
    &__logo{
        width: 274px;
        margin: 20px 0;
        &__image{
            width:100%;
        }
    }
    &__BgBackHead{
        position: relative;
        z-index: -1;
        &__left,&__right{
            position: absolute;
            top: -66px;
            left: -263px;
            width: 520px;
            height: 691px;
            background-image: url(../image/back_one_head.png);
            @media screen and (min-width:520px) {
                width: 1580px;
                position: absolute;
                top: 0;
                left: 0;
                width: 520px;
                height: 607px;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &__right{
            top: -320px;
            right: -263px;
            height: 607px;
            background-image: url(../image/back_two_head.webp);
            @media screen and (min-width:520px) {
                top: 0;
                right: 0;
                background-repeat: no-repeat;
                background-size:cover;
            }
        }
    }
    &__divDark{
        @media screen and (min-width:520px) {
            display: flex;
            justify-content: end;
            flex-grow: 2;
        }
        &__dark{
            display: flex;
            justify-content: space-between;
            width: 90px;
            height: 34px;
            background-color:#252525;
            border-radius:30px ;
            @media screen and (min-width:520px) {
                display: inline-flex;
            }
            &__moon{
                background-color: transparent;
                border:none;
                width: 20px;
            }
            &__btn{
                background-color:#fff ;
                border:none;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }
    &__signIn{
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        @media screen and (min-width:520px) {
            width: 100%;
        }
        @media screen and (min-width:805px) {
            width: auto;
        }
        &__signin{
            display: inline-block;
            border-radius: 19px;
            background: #252525;
            width: 116px;
            height: 38px;
            line-height: 38px;
            margin-left: 5px;
            cursor: pointer;
            text-align: center;
            font-size: 120%;
            margin-top: 25px;
            color: #fff;
            @media screen and (min-width:520px) {
                margin: 0;
            }
            &__addPerson{
                vertical-align: middle;
                margin: 2px;
            }
        }
        &__enter{
            display: inline-block;
            border-radius: 19px;
            background: #252525;
            width: 116px;
            height: 38px;
            line-height: 38px;
            margin-left: 5px;
            cursor: pointer;
            text-align: center;
            font-size: 120%;
            margin-top: 25px;
            color: #fff;
            @media screen and (min-width:520px) {
                margin: 0;
            }
            &__icon{
                vertical-align: middle;
                margin: 2px;
            }
        }
    }
    &__search{
        width: 95%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 40px;
        padding: 16px 0 16px 20px;
        margin: 12px auto 0 auto;
        background-color: rgb(34 34 34 / 90%);
        &__div{
            position: relative;
            flex-grow:1;
            align-self: center;
            margin-right:12px ;
            &__bar1{
                width: 100%;
                background-color: #050505;
                color: #fff;
                padding: 12.8px 0;
                border: none;
                border-radius: 30px;
                margin-bottom: 12px;
                &__icon{
                    position: absolute;
                    top: 20%;
                    left:5%;
                }
            }
            &__bar1::placeholder{
                font-size: 1.25rem;
                padding-right: 10px;
            }
        }
        &__image{
            flex-grow: .6;
            margin-right: 10px;
            @media screen and (min-width:520px) {
                display: none !important;
            }
        }
        &__bar{
            display: none;
            @media screen and (min-width:520px) {
                display: flex !important;
            }
            @media screen and (max-width:643px) {
                width: 100%;
                justify-content: space-around;
            }
            &__div{
                &__logoSite{
                    margin: 10px 120px;
                    @media screen and (min-width:520px) {
                        display: none !important;
                    }
                }
                &__logoExit{
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    background-color: #eb8307;
                    @media screen and (min-width:520px) {
                        display: none !important;
                    }
                    &__cross{
                        position: absolute;
                        top: 10px;
                        left: 10px;
                    }
                }
            }
            &__items{
                border-bottom: 1px solid rgb(43, 41, 41);
                padding-right: 16px;
                @media screen and (min-width:520px) {
                    display: flex;
                    flex-direction: row-reverse; 
                    margin-left:32px; 
                }
                @media screen and (max-width:960px) {
                    margin-left: 0;
                }
                &__div{
                    @media screen and (min-width:520px) {
                        display: flex;
                        flex-direction: column;
                    }
                    &__p{
                        flex-grow: 1.5;
                        color: aliceblue;
                        font-size: small;
                        line-height: 2.65rem;
                    }
                }
                @media screen and (min-width:520px) {
                    border-bottom: none;
                }
            }
        }
        &__image:focus ~ &__bar{
            display: flex;
            flex-direction: column;
            width: 90vw;
            height: 100vh;
            max-width: 468px;
            position: fixed;
            top:0;
            right: 0;
            z-index: 2;
            background-color: black;  
        }
    }
}
.p2{
    display: none;
    @media screen and (min-width:520px) {
        display: inline-block;
        text-transform:uppercase ;
        color: #eb8307;
        font-size: small;
    }
}

